<!-- <div class="display-area">
    <div class="filters">
        <div class="studio-filter" *ngIf="studioName$|async as studioName">
            {{studioName}}
            <button  class="studio-filter-hover-button" (click)="deleteStudioFilter(studioName)" >X</button>
        </div>
    </div> //todo move all this+ dekete functions
    
    <div class="filters" *ngIf="tagFilter$|async as tags">
        <li class="filter" *ngFor="let tag of tags">
            {{tag}}
            <button  class="hover-button" (click)="deleteTagFilter(tag)" >X</button>
        </li>
    </div> -->
