<div class="main-content">
    <p>Devs</p>
    <div class="display-area">
        <form  >
            <label>SearchBar</label>
            <input  type="search" [formControl]="searchCtrl" placeholder="Search by title...">
            <ng-container>   
                <ul class="suggestions" *ngIf="titleSuggestions$ | async as suggestions">
                
                    <li *ngFor="let suggestion of suggestions" (click)="autoCompleteSuggestion(suggestion)">
                        {{ suggestion }}
                    </li>
                    </ul>
            </ng-container>       
        </form>
    </div>
  
    <app-filter-display  [filters]="tagFilters$.getValue()" (filtersChange)="tagFilters$.next($event)"></app-filter-display>
    <app-filter-display  [filters]="studioFilter$.getValue()" (filtersChange)="onStudioFilterDeletion()"></app-filter-display>
    <app-filter-selection [filterSelection$]="filterSelection$" (selectedFilter$)="addNewFilter($event)"></app-filter-selection>
    
    
    <div>
        <label>number of dev per page</label>
        <select id="itemsPerPage" [formControl]="elementByPageCtrl">
            <option value=5>5</option>
            <option value=20>20</option>
            <option value=50>50</option>
            <option value=100>100</option>
         </select>
        
    <div class="list-item">
        <app-dev-list-item  *ngFor="let dev of filteredDevs$ |async"  [dev]="dev" (click)="routeToComponent(dev)"> </app-dev-list-item>
      

    </div> 
    

</div>
