<div class="main-content" *ngIf="profile$|async as studioProfile">
   
    <form [formGroup]="profileForm">
        <li>
            <label>Name</label>
            <input type="string" formControlName="name">
        </li>

        <li>
            <label>LogoUrl</label>
            <input type=string formControlName="logoUrl">
           
        </li>
        <li>
            <label>BackgroundUrl</label>
            <input type=string formControlName="backgroundPictureUrl">
        </li>
        <li>
            <label>Abstract</label>
            <input type=string formControlName="abstract">
        </li>
        <li>
            <label>Bio</label>
            <input type=string formControlName="bio">
        </li>
        <button type="submit" (click)="saveForm()">Save</button>
        <button routerLink="/studio/{{this.studioService.studioId}}/page">Open</button>
    </form>

    <div class="display-group">
        <div class="display-title">Actualities to display</div>
        <div class="display-area" *ngIf="actualities$|async as actualities">
            <div class="display-element" *ngFor="let actuality of actualities">
                <h1>{{actuality.title}}</h1>
                <img [src]="actuality.imageurl">
                <p>{{actuality.text}}</p>
                <button (click)="modifyActuality(actuality,actuality)">modify</button>
                <button (click)="deleteActuality(actuality)">delete</button>
            </div>
            
        </div>
    </div>

    <div class="display-group">
        <div class="display-title">Create new dev</div>
        <div class="display-area" *ngIf="newDevForm" >
            <div class="display-element">
                <form [formGroup]="newDevForm">
                    <li>
                        <label>Name</label>
                        <input type="string" formControlName="name">
                    </li>
            
                    <li>
                        <label>LogoUrl</label>
                        <input type=string formControlName="logoUrl">
                       
                    </li>
                   
                    <li>
                        <label>Description</label>
                        <input type=string formControlName="description">
                    </li>
                    <button type="submit" (click)="createNewDev()">Save</button>
                    
                </form>
            </div>
            
        </div>
    </div>


    
        
        
   

</div>
