.header{
    background-color: lightgray;
    display: flex;
    flex-direction: column; // Stack the text and list vertically
    justify-content: center; // Centers content horizontally
    align-items: center; // Centers content vertically
    width: 100%; // Ensure it takes up the full width of the parent container
    
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center; // Centers the text
    text-transform: uppercase;
    font-weight: bolder;
   
}




ul {
    display: flex; // Keeps the list items in a horizontal row
    list-style: none; // Removes bullet points
    justify-content: center;
    font-weight: bold;
    font-family: monospace;
    font-size: larger;
    

    li {
        margin: 0 20px; // Adds space between list items
    }
}

