<div class="main-content">
   <h1>Welcome To Dev Market</h1>
    <section class="about">
       
        <p><strong>Dear visitor,</strong></p>
        
        <p>
          Welcome to my demo app <strong>Dev Market</strong> — a full-stack application 
          (frontend: Angular, backend: C#) with focus on the frontend. I'm currently 
          developing it to showcase my programming skills.
        </p>
        
        <p>
          My name is <strong>Thomas Delaplanche</strong>. I'm an engineer specialized in 
          <em>mechatronics</em>, with 2.5 years of experience in the integration of robotic 
          solutions and the development of C# software. I'm a <em>self-taught web developer</em>, 
          and I’d be happy to contribute to your future projects.
        </p>
        
        <p>
          To learn more about the development details and my working style, feel free to check out 
          the GitHub repository:<br>
          👉 <a href="https://github.com/Thomas-dlp/DevMarket" target="_blank">
            github.com/Thomas-dlp/DevMarket
          </a>
        </p>
        
        <p>
          I'm actively adding new features — so stay tuned!
        </p>
        
        <footer>
          <p><strong>Best regards,</strong><br>
          Thomas Delaplanche<br>
          📞 <a href="tel:+33666770465">06 66 77 04 65</a><br>
          📧 <a href="mailto:tomdelaplanche@gmail.com">tomdelaplanche&#64;gmail.com</a><br>
          📄  <a href="https://your-cv-link.com" target="_blank">View CV</a></p>
        </footer>
      </section>
      
       <h1>Application Overview</h1>
    <div class="about">
       
        DevMarket is ecomerce/crowdfunding app, designed to facilitate the financing of new developments. Creators can present their projects and visions and regular users can invest in the dev they need or want to see emerge.
    </div>
    <h1>Newly Added Features</h1>
    <div class="about">
        
        <ul>
            <li>
                Studio setttings
            </li>
            <li>
               Creator login
            </li>
            <li>
                List of developments
            </li>
        </ul>
    </div>
</div>
