@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.main-content {
    // display: flex;
    justify-content:start;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-block-start: 11%;
    // background-color: #f4f4f4;
//    background-color: rgb(33.7,61.2,83.9);
    background-color: #1e1e1e;
    color: #d3b762;
    flex-grow: 1; // Allow the main content to grow and take up remaining space
    
   
}
h1,h2,h3{
     color: whitesmoke;
}

.logo-colours{
  color: rgb(33.7,61.2,83.9); //blue
  color: rgb(82.7,71.8,38.4); //yellow
  color:#1e1e1e;
  color: #569cd6;
  color: #d3b762;
}

*{
    margin: 0;
    padding: 0;
}