    <div class="display-area">
      <div>Select a filter</div>
      <select [value]="selectedFilterTypeName$.value"  (change)="setFilterlinkedToForm($event)">
         <option *ngFor="let filterSelection of filterSelection$|async" value={{filterSelection.name}}>{{filterSelection.name}}</option>
      </select>
  
      <form > 
          <input type="search" [formControl]="filterCtrl" [placeholder]= "`Search ${selectedFilterTypeName$.getValue()}...`">
          <ul class="suggestions" *ngIf="filterSuggestions$ | async as suggestions" [hidden]="filterCtrl.getRawValue().length<=1">
              <li *ngFor="let suggestion of suggestions" (click)="addSuggestionToFilters(suggestion)">
                {{ suggestion.title }}
              </li>
            </ul>
      </form>
    </div>
   

